

<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>

    <body>
        <h1>Quiz</h1>

        <form method="get" action="/jokerepo/quiz/">

            {% csrf_token %}
            {{ output.0 }}  ({{ output.2 }})

            <br>
            
            
           <br>
           <br>
           <input type="submit" name="question" value="Next" />
           <br>

     </form>
     <br><br>

     <p id="message"></p>

     <script type="text/javascript">
         //var data_from_django = " {{ my_data|safe }} ";
         //var a = Object.getOwnPropertyNames(data_from_django);
         //var b = Object.keys(data_from_django);
         // alert(b);
         // console.log(b);
         // button.onclick= function () { alert('hello!'); };
     </script>
     
          <button type = "button" onclick="myFunction()">Show answer (JS)</button>

     <script>
       function myFunction() {
       // NEW 2015 - below seems to auto-convert python list to JS string
       var data_from_django = "{{ output }}";
       var index = data_from_django.indexOf(":");
       var id = data_from_django.substr(0, index);
       var text = data_from_django.substr(index + 1);
       // NEW 2015 - CONVERT JS STRING INTO JS LIST
       var jsarray = data_from_django.split(',');
       var text1 = jsarray[1]; // refer to 2nd element in array
       
       
       //alert(typeof(text));
       text = text.replace("u'", "", "gi");
       text = text.replace("'}", "", "gi");
       //alert(text);
               //could apply this approach to entire template
      //but choose to stick with Python Dict passed over, and then
      //use javascipt json methods to translate from 1 lang into other


      //The JSON.stringify() method converts JS data structure to JSON
      //data_from_django = JSON.stringify(data_from_django);
      //data_from_django = JSON.parse(data_from_django);


      //var index = data_from_django.indexOf(":");
      //var id = data_from_django.substr(0, index);
      //var text = data_from_django.substr(index + 1);
      //alert(id);
      //alert(text);
      document.getElementById("message").innerHTML = text;
      // NEW 2015 
      document.getElementById("message").innerHTML = text1;


      }

      </script>
      


   </body>

</html>


       
     
     
     
